body {
  margin-top: 30px;
  margin-left: 30px;
}

summary{
  
  font-size: 20px;
}

.summary-3 {
  margin-left: 10px;
}

.summary-4 {
  margin-left: 20px;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#soma-1, #soma-2, #btn-soma,
#sub-1, #sub-2, #btn-sub,
#multi-1, #multi-2, #btn-multi,
#divisao-1 #divisao-2, #btn-divisao {
  width: 20%;
  display: flex;
}


button[type=submit] {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button[type=submit]:hover {
  background-color: #45a049;
}

div {
  width: 30%;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}